<!-- <p>todo-item works!</p> -->

<div class="my-3">
    <!-- <h5 [class]="'nostrick'?todo.active:'strick'">{{todo.title}}</h5> -->
    <h5 [ngClass]="{'strick':!todo.active}">{{todo.title}}</h5>
    <p [ngClass]="{'strick':!todo.active}">{{todo.des}}</p>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="todo {{i}}" (click)= "onCheckboxClick(todo)" [checked]="!todo.active">
        <label class="form-check-label" for="todo {{i}}">Mark as Done</label>
      </div>
    <button class="btn btn-sm btn-danger" (click)= "onClick(todo)">Delete</button>
</div>